<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Результат</h4>
    </div>
    <div class="panel-body">
        <p id="graphical-area">
            Выберите параметры рисунка
        </p>
    </div>
</div>
